<div *ngIf="dbs">


  <div class="inline">
    <ul>
      DBs:<br/>
      ----------
     <li (click)="getCollection($event)" class="db-list-element" *ngFor="let db of dbs">
       {{db}}
     </li>
   </ul>
  </div>

  <div *ngIf="colls" class="inline">
    <ul>
      COLLECTIONs: <br/>
      ----------
      <li  (click)="showButtons($event)" class="db-list-element" *ngFor="let coll of colls">
        {{coll}}
      </li>
    </ul>
  </div>


  <div class="inline" *ngIf="isButtonsShow">
    <app-console-button-panel  (responseEmit)="getResponse($event)" [queryReq]="queryReq"></app-console-button-panel>
  </div>

  <div class="inline docs-div" *ngIf="docsResponse.resp">
   <app-console-docs-panel [docsResponse]="docsResponse"></app-console-docs-panel>
  </div>

</div>
