<div *ngIf="dbs">


  <div class="inline">
    <ul>
      DBs:<br/>
      ----------
     <li (click)="getCollection($event)" class="db-list-element" *ngFor="let db of dbs">
       {{db}}
     </li>
   </ul>
  </div>

  <div *ngIf="colls" class="inline">
    <ul>
      COLLECTIONs: <br/>
      ----------
      <li  (click)="showButtons($event)" class="db-list-element" *ngFor="let coll of colls">
        {{coll}}
      </li>
    </ul>
  </div>


  <div *ngIf="isButtonsShow" class="inline">
    <app-console-button-panel (responseEmit)="getResponse($event)" [queryReq]="queryReq"></app-console-button-panel>
  </div>

  <div *ngIf="docs" class="inline docs-div">
    DOCUMENTs:<br/>
    ----------<br/>
    <ul *ngIf="docs.length>0">
      <li  class="doc-list-element" *ngFor="let doc of docs">
        {{doc|json}}
      </li>
    </ul>
    <p *ngIf="docs.length==0">No documents found.</p>
  </div>

  <div *ngIf="counter" class="inline counter-panel">
    total documents: {{counter}}.
  </div>


  <div *ngIf="error" class="error-div">
    ERROR OCCURED:<br/>
    ------<br/>
    {{error|json}}
  </div>

</div>
