<div>
  <div *ngIf="!isErrorResponse()">
    DOCUMENTs:<br/>
    ----------<br/>
    <ul *ngIf="docsResponse.resp.length>0">
      <li  class="doc-list-element" *ngFor="let doc of docsResponse.resp">
        {{doc|json}}
      </li>
    </ul>
    <p *ngIf="docsResponse.resp.length==0">no documents found.</p>
    <p *ngIf="isCountResponse()">total documents: {{docsResponse.resp}}.</p>
    <p *ngIf="isOperationResponse()">operation successfull.</p>
  </div>






  <div *ngIf="isErrorResponse()" class="error-div">
    ERROR OCCURED:<br/>
    ---------<br/>
    {{docsResponse.resp|json}}
  </div>
</div>


